@font-face {
    font-family: "f1Font";
    font-weight: bold;
    src: url('\other\myFont.otf') format('opentype');
}

#chart > svg{
    background-color: #323639;
}

line.tickline {
    stroke: #3b4044;
}

line.tickline-light {
    stroke: #4D5459;
    /*stroke-linecap:round;*/
    /*stroke-linejoin:round;*/
}

text.gp-label {
    fill: white;
    font-size: large;
    alignment-baseline: baseline ;
}

rect.gp-rect {
    opacity:1;
}

text.driver-label {
    dominant-baseline: middle;
    font-family: sans-serif;
    font-weight: bold;
}

.driver-rect {

}

path.results{
    cursor: pointer;
    opacity: 0.8;
}

g > .position-text {
    fill: white;
    font-weight: bold;
    font-size: 15px;
}

g > .lapped-text {
    fill: black;
    font-weight: bold;
    font-size: 25px;
    opacity: 0.9;
}

g > .problem-text {
    fill: #323639;
    font-weight: bold;
    font-size: 15px;
}

.driver-path-elem {
    opacity:1;
    fill:#0000ff;
    fill-opacity:1;
    stroke:#000000;
    stroke-width:0;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;


}

.dimmed-elem {
    opacity: 0.4 !important;
}

g.driver-element:hover{
    cursor: pointer;
    font-size: larger;
}

.hidden {
    visibility: hidden;
}

g.position:hover {
    cursor: pointer;
}

g.problem:hover {
    cursor: pointer;
}

.final-position-circle {
    fill: #323639
}

text.driver-final-position {
    /*dominant-baseline: central;*/
}

#imgTitle {
    display: inline;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

#vizContainer {
    background-color: #323639;
}

#topLine {
    stroke: #3b4044;
    stroke-width:10;
}

#titleContainer {
    background-color: #323639;
    margin-bottom: 5px;
}

g.gp-element:hover {
    cursor: pointer;
}

#driversStandingRect {
    fill: white;
    fill-opacity:0.0;
    stroke: #3b4044;
    stroke-width: 3px;
}

footer {
    background-color: #323639;
    color: #656E75;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

footer span {
    float:right
}

g.info-g text {
    font-family: Serif;
    font-size: 22px;
    fill: #323639;
    font-weight: 900;
}

g.info-g:hover {
    cursor: pointer;
}

#tutorialBtn {
    float: right;
    font-size: 20px;
    color: #656E75;
    vertical-align: middle;
    margin-top: 10px;
}

#tutorialBtn:hover {
    color: white;
    font-size: 22px;
    cursor: pointer;

}

#exploreLbl, #constructorLbl {
    color: white;
    font-size: 23px;
}

#exploreSelect {
    display: inline-block;
    width: 220px;
    height: 30px;
    padding: 0px;
    font-size: 15px;
    line-height: 1;
    color: #FFF;
    background-color: #323639;
    background-image: none;
    border: 2px solid white;
    border-radius: 12px;
}

#titleContainer .filter-option {
    background-color: #323639;
    color: white;
}

#titleContainer .btn {
    background-color: #323639;
    border-radius: 12px;
    border: 2px solid white;
    vertical-align: middle;
}

#titleContainer .btn-group {
    border-radius: 12px;
    vertical-align: middle;
}

#titleContainer .dropdown-menu {
    background-color: #323639;
    color: white;
}

#titleContainer li>a{
    color: white;
}

#titleContainer li>a:hover{
    background-color: #3b4044;
}

#constructorSelect {
    display: inline-block;
    width: 150px;
    height: 30px;
    padding: 0px;
    font-size: 15px;
    line-height: 1;
    color: #FFF;
    background-color: #323639;
    background-image: none;
    border: 2px solid white;
    border-radius: 12px;
}

#exploreFormGroup {
    display: inline-block;
    margin-left: 5px;
}

#constructorFormGroup {
    display: inline-block;
    margin-left: 10px;
}

#constructorSelectDiv {
    display: inline-block;
}

#constructorLbl, #exploreLbl, #finalSentence {
    font-family: sans-serif;
    font-size: 15px;
    color: #FFF;
}

#finalSentence {
    margin-left: 5px;
}

#titleDiv {
    display: inline-block;
    background-color: #4D5459;
    padding-right: 10px;
    border-bottom-right-radius: 10px;
}


div.center {
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}

div.gpmodal {
    padding-left: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#pilotModalTitle, #gpModalTitle {
    text-align: center;
}

div.pilotmodal {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

span.labels {
    font-weight: bold;
}

i.fa {
    padding-right: 3px;
}
i.gplist, i.pilotlist {
    padding-right: 10px;
}

div.modal-header {
    text-align: left;
}

div.tooltip-inner {
    text-align: left;
    background-color: #FFFFFF;
    color: #000000;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #FFFFFF; !important;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #FFFFFF; !important;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #FFFFFF; !important;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #FFFFFF; !important;
}

.product .img-responsive {
    margin: 0 auto;
}

img.flag {
    /*vertical-align: middle,*/
    margin-right: 5px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(143,143,143,1);
    box-shadow: 0px 0px 15px 0px rgba(143,143,143,1);
}

span.gptitle {
    vertical-align: middle;
}

span.red {
    background-color: red;
}

span.yellow {
    background-color: #ffff00;
}

div.legend + img{
    padding-left: 50px;
}

div#tutorial {
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

#clearSelectionBtn {
    fill: #656E75;
    fill-opacity: 0.0;
    stroke: #656E75;
    stroke-width: 2px;
}

#clearSelectionG:hover {
    cursor: pointer;
}

#clearSelectionG:hover #clearSelectionBtn {
    stroke: white;
    fill-opacity: 0.6;
}

#clearSelectionG:hover #clearBtnLbl {
    fill: white;
}

#clearBtnLbl {
    fill: #656E75;
    font-family: sans-serif;
    font-size:  17px;
}

#modal-legend-body {
    background-color: rgb(167, 195, 226);
}

.legend img {
    width: 45px;
    padding: 5px;
}

#modal-legend-header h3{
    text-align: center !important;
}

img.driver-img {
    -webkit-box-shadow: 0px 0px 37px 0px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 37px 0px rgba(143,143,143,1);
    box-shadow: 0px 0px 37px 0px rgba(143,143,143,1);
}

img.constructor-img {
    margin-top: 30px;
}

#legend-note {
    margin-top: 20 px;
}

#tutorial {
    margin-top: 40px;
}

